<html lang="en">
  <head>

    <meta charset="utf-8">
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="app/vendor/bootstrap/tether.min.js"></script>
    <link rel="stylesheet" type="text/css" href="app/vendor/bootstrap/bootstrap.min.css">
    <script src="app/vendor/bootstrap/bootstrap.min.js"></script>
    <script data-main="requireConfig" src="node_modules/requirejs/require.js"></script>


    <script type="text/template" id="selected-movie-template">
      <img class="card-img-top" src="<%= coverImage %>"/>
      <div class="card-block">
        <h3 class="card-title"><%= title%></h3>
        <p class="card-text"><%= releaseDate%></p>
        <p class="card-text">Rate: <%= rate%></p>
        <p class="card-text"><%= description%></p>
      </div>
    </script>

  </head>

    <body>
    </body>
</html>