body {
    background-color: aliceblue;
}

#catalog-sidebar {
    width: 450px;
}

.movie-container {
    width: 150px;
    height: 100px;
    border: 4px solid;
    text-align: center;
    padding: 9% 0 0 0;
    margin: 30px 0 0 30px;
}

.movieContainer div {
    font-family: "American Typewriter";
}

.selected-movie-container {
    position: fixed;
    top: 100px;
    left: 800px;
    width: 400px;
    height: 300px;
    border: 4px solid;
    text-align: center;
    padding: 9% 0 0 0;
}

li {
    list-style-type: none;
}

#movie-info {
    margin: 300px 0 0 0;
}

#movie-info div {
    margin: 10px 0 0 0;
}