body{
    background-color: #292b2c !important;
}

#catalog-sidebar {
    width: 300px;
}

.movie-container {
    width: 20rem;
    margin: 30px 0 0 30px
}

.selected-movie-container {
    position: fixed !important;
    left: 650px;
    top:100px;
    width: 600px;

}