body {
    background-color: #292b2c !important;
}

.movie-container img {
    height: 140px;
    width: 100%;
}

.card-block #director {
    font-size: 1.1em;
    font-weight: bold;
}

#catalog-sidebar {
    width: 300px;
    margin: 75px 0 0 50px;
}

.movie-container {
    width: 25rem;
    margin: 30px 0 0 30px
}

.selected-movie-container {
    position: fixed !important;
    left: 750px;
    top:130px;
    width: 660px;

}

.card {
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.card:hover {
    -webkit-box-shadow: 0 0 15px 2px rgba(255,255,255,1);
    box-shadow: 0 0 15px 2px rgba(255,255,255,1);
}